*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 90px;
    background: rgb(56,94,81);
    background: radial-gradient(circle, rgba(56,94,81,0.938813025210084) 28%, rgba(52,73,66,1) 47%, rgba(12,14,14,1) 89%);
    display: flex;
    justify-content: space-between;
}
.logoContent{
    margin: 15px;
}
@keyframes logoIntermitente{
    0%{background-color: black;}
    50%{background-color: #abf5dc; }
    100%{background-color: black;}
}
.logoContent img{
    height: 60px;
    box-shadow: 0 0 10px 5px white;
    animation-name: logoIntermitente;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: 1s;
}
.logoContent img:hover{
    cursor: pointer;
}
.linksContent{
    display: flex;
    align-items: center;
    margin-left: 15px;
    

}
.linksContent a{
    text-decoration: none;
    text-align: center;
    color: #abf5dc;
    text-shadow: 0 0 10px silver;
    font-weight: bold;
    margin: 10px;
    font-size: 21px;
}
.linksContent a:hover{
    color: rgb(40, 54, 50);
    text-shadow: 0 0 5px white;

}
/* hasta aca el navbar */

body{
    background-color: #def8f0;
}
.mainImg{
    display: none;
}
.headerImg{
    width: 92vw;
    height: 62vw;
    margin: 2.9vw;
    box-shadow: 0 0 5px black;
    background-image: url(../images/guys.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    align-items: center;
}
#boton{
    text-decoration: none;
    text-align: center;
    width: 12vw;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 1px 1px 9px 1px white;
    font-size: 1.5vw;
    color: #abf5dc;
    font-weight: bold;
    margin: 10px;
}
#boton:hover{
    background-color: #abf5dc;
    color: rgb(40, 54, 50);

}
.mainTitle2{
    text-align: center;
    text-shadow: 0 0 8px white;
    font-size: 3vw;
    margin: 5px;
}
.subtitle2{
    margin: 5px;
    text-align: center;
    font-size: 2vw;
    text-shadow: 0 0 8px white;
}
.main{
    display: flex;
    justify-content: center;
}
.contenidoSecundario{
    width: 30vw;
    height:20vw ;
    margin-bottom: 60px;
    box-shadow: 0 0 5px 5px black;
}
.imagenSecundaria{
    display: none;
}
.contenidoSecundario p{
    background-size: cover;
    background-image: url(../images/dumbbells.jpg);
    text-align: center;
    height: 100%;
    padding: 5vw;
    font-size: 1.5vw;
    line-height: 1.5;
    text-shadow: 0 0 9px blue;
    font-weight: bold;
    color: white;

}

/* ABOUT US*/ 
.titleAbout, .subtitleAbout{
    text-align: center;
    text-shadow: 10px;
    margin: 35px;
    color: rgb(52, 73, 66);

}
.blockContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.itemsContainer{
    margin-top: 30px;
    width: 25vw;
    min-width: 250px;
}
.itemsContainer div{
    margin-top: 25px;
    font-size: 1.3rem;
    line-height: 1.4;
}
.itemsContainer div p{
    overflow: hidden;
    font-size: 1.9vw;
    width: 25vw;
    min-width: 200px;
    text-shadow: 0 0 9px blue
}
.itemsContainer figure img{
    width: 25vw;
    min-width: 200px;
    box-shadow: 0 0 5px 5px black;
}

/* CONTACT */

.imgContainer{
    display: none;
}
.headerContact{
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}
.headerContainer{
    background-image: url(../images/image-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    box-shadow: 0 0 5px 5px black;
    text-align: center;
}
.titleContact, .subtitleContact{
    margin: 5px;
    text-shadow: 0 0 5px white;
}
.mainContact{
    display: flex;
    justify-content: center;

}
.mainContainer{
    height: 25vw;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.parrafos{
    line-height: 1.5;
    padding: 25px;
    height: 20vw;
    width: 35vw;
    font-size: 2vw;
    font-weight: bold;
    border: 2px solid gold;
    box-shadow: 0 0 5px 5px black;
    text-align: center;
}
.contactDate{
    height: 20vw;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    border: 2px solid gold;
    box-shadow: 0 0 5px 5px black;
}
.contactDate a{
    
    text-decoration: none;

}
.email a,.phone a{
    color: darkcyan;
    text-shadow: 0 0 1px black;
}
.email a:hover,.phone a:hover{
    color: black;
    text-shadow: 0 0 5px blue;
}

/* responsive */

@media only screen and (max-width: 768px) {
    nav{
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
    }
    .linksContent{
        flex-direction: column;
    }
    /* hasta aca el navbar */
    .headerStyle2{
        display: flex;
        justify-content: center;
    }
    .mainTitle2{
        font-size: 25px;
    }
    .subtitle2{
        font-size: 15px;
    }
    #boton{
        font-size: 10px;
        min-width: 50px;
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenidoSecundario p {
        padding: 15px;
        margin: 0;
        font-size: 15px;
        background-repeat: no-repeat;
    }
    .contenidoSecundario{
        width: 220px;
        height: 150px;
        margin: 0;
        margin-bottom: 25px;
    }

    /* about */
    .itemsContainer div p{
        font-size: 13px;
    }
    .mainAbout{
        margin-bottom: 40px;
    }

    /* CONTACT */
    .titleContact{
        font-size: 25px;
    }
    .subtitleContact{
        font-size: 15px;
    }
    .headerContact{
        margin-bottom: 20px;
    }
    .mainContainer{
        flex-wrap: wrap;
        margin-bottom: 30px;
        height: auto;
    }
    .parrafos, .contactDate{
        width: 200px;
        height: 120px;
        font-size: 12px;
        margin-bottom: 20px;
    }

    




}
