*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boton{
    display: none;
}

nav{
    height: 90px;
    background-color: rgb(52, 73, 66);
    position: relative;

}
.logoContent{
    display: inline;
    background-color: #abf5dc;
    margin: 15px;
    position: absolute;
    right: 0;
}
.logoContent img{
    height: 60px;
    box-shadow: 0 0 10px 5px white;
}
.linksContent{
    display: inline-block;
    position: absolute;
    bottom: 0;
    height: 120px;
    /* background-color: blueviolet; */
    /* color: yellow; */

}
.linksContent a{
    text-decoration: none;
    /* text-decoration-style: none; */
    text-align: center;
    color: #abf5dc;
    text-shadow: 0 0 10px black;
    font-weight: bold;
    margin: 10px;
    font-size: 21px;
    position: relative;
    top: 55%;
}

/* hasta aca el navbar */
body{
    background-color: rgb(18, 34, 29);
}

main{
    margin-top: 20px;
    /* background-image: ; */
}
.tituloPrincipal, h2{
    text-align: center;
    text-shadow: 10px;
    margin: 35px;

}
h2{
    text-shadow: 0px 0px 10px black;
    color: rgb(188, 202, 166);
}
.tituloPrincipal{
    font-size: 2.5rem;

}
.imagenPrincipal{
    text-align: center;
}
.imagenPrincipal img{
    width: 80vw;
}
.contenidoSecundario{
    margin: 10vw;
    position: relative;
}
.contenidoSecundario aside{
    display: inline-block;
    position: absolute;
    right: 0;
    
}
.contenidoSecundario img{
    display: inline-block;
    width: 400px;
}
.contenidoSecundario p{
    border: 2px solid gold;
    padding: 25px;
    width: 400px;
    height: 250px;
    font-size: 1.3rem;
    line-height: 2;
    display: inline-block;
    text-align: justify;
    /* text-shadow: 13cap; */
}

/* about us */
main{
    margin-bottom: 50px;
}
.sectionAbout{
    /* text-align: center; */
    
    /* background-color: yellow; */
}
.itemsContainer{
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 25px;
    position: relative;
}
.itemsContainer figure{
    display: inline-block;
    /* position: absolute; */
    /* left: 0; */
    
}
.itemsContainer img{
    width: 350px;
    box-shadow: -10px 10px 10px 8px black;
    
}
.itemsContainer aside{
    display: inline-block;
    width: 400px;
    font-size: 1.3rem;
    line-height: 2;
    position: absolute;
    right: 0;
    padding: 20px;
}
.itemsContainer aside p{
    margin-top: 30px;
}

/* contact */

.mainContact{
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
}
.mainContact figure img{
    width: 100%;
}
.parrafos{
    /* width: 400px; */
    height: 110px;
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
}
footer{
    position: relative;
    font-size: 1.3rem;
    /* background-color: yellow; */
}
.email{
    position: absolute;
    left: 0;
}
.phone{
    position: absolute;
    right: 0;
}